{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container">        
  <h1>Привет! Меня зовут Вера</h1>
  <article>
    <ul>
      <li>
        Автор: <a href="https://github.com/VeraUrsul"
        >#Я на Github</a>
      </li>
      <li>
        Хобби: Садоводство
      </li>
      <li>
        Число: 3
      </li>
    </ul>
    <p>
      Часто бывает, что мы, в привычном повседневном ритме движемся в 
      направлении, которое кто-то для нас определелил. Порой это происходит 
      неосознанно: в своём выборе ты сомневаешься, а советы родственников, 
      друзей и товарищей внушают доверие. Хорошо, если спустя время, 
      сделанный выбор радует. А если нет? Начинаешь анализировать, 
      сомневаться, искать - запрос в космос запущен.
    </p>
    <p>
      Ответ пришел в виде предложения пройти вводный курс Яндекс Практикума
      по программированию. Осилив вводный курс, интерес усилился - так я и
      решилась.
    </p>
    <p>
      Проходя задания курса, спектор эмоции становится велик и мнообразен, 
      переливчат и непостоянен. Ещё приятней найти единомышленников, которые
      также этим горят. А поддержка родственников и близких вообще бесценна.
    </p>
    <p>
      Бывает, застрянешь на каком-нибудь моменте. Ну вроде всё уже 
      перепробовано, а код не работает... Сижу, в одну точку гляжу, а у ноги
      собакен посапывает. Ну как эту маленькую зверюгу не погладить. Тут и
      мысли перезагружаются, настроение поднимается и ошибка решается.
    </p>
    <img src="https://avatars.dzeninfra.ru/get-zen_brief/8919642/pub_6405bc6d8d71710ef9998234_6405bcce0437881681c94ebb/scale_2400"
      border="10px"
      height="500px">
  </article>
</div>
{% endblock %}
